.content {
  display: flex;
  flex-direction: column;
  max-width: 46rem;
  margin: 0 auto; /* Center the content horizontally */

  margin-top: -1.9rem;
  padding: 0 1rem; /* Add padding for better spacing */
}

.wrapper {
  display: flex;
  flex-direction: column; /* Adjust the layout to a column for smaller screens */
  align-items: center;
  width: 100%;
}

.newTaskContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104%;
}

.formNewTask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.botao {
  display: flex;
  border: 0;
  border-radius: 8px;
  background: var(--blue-dark);
  color: var(--gray-100);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.1s ease;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.4;
  gap: 0.1rem;
}

.botao span {
  align-items: flex-end;
  padding-top: 0.28rem;
}

.botao:hover {
  background: var(--blue);
}

.taskListContainer {
  width: 46rem; /* Keep the original width for larger screens */
  margin-top: 2rem; /* Adjust the margin for better spacing */
}


@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }

  .taskListContainer {
    width: 100%; /* Make the task list container full-width on smaller screens */
  }

  .newTaskContainer {
    width: 100%;
  }
}
